main {
  .caixainicial {
    display: flex;
    flex-wrap: wrap;
    // padding: 0 auto;
    margin: auto;
    padding: 0 3rem;
    .textoinicial {
      display: flex;
      margin: auto;
      // text-align: center;
      flex-direction: column;
      gap: 20px;
      font-weight: 600;
      font-size: 1rem;
      max-width: 600px;
      span {
        color: var(--color-secondary);
      }
      h1 {
        // font-size: 3rem;
      }
      // color: black;
    }
  }
  .categorias-div {
    // background-color: var(--color-bk-light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    max-width: 1000px;
    margin: auto auto;
  }

  .lottie {
    width: 40%;
    min-width: 300px;
    // max-width: 600px;
    margin: auto;
  }
}

// .container {
//   display: flex;
//   flex-direction: column;
//   place-items: center;
//   gap: 1.5rem;
// }
