div.card-body {
  // background-color: var(--color-shape);
  // min-width: 200px;
  // max-width: 330px;
  display: flex;
  font-size: 0.9rem;
  flex-direction: column;
  box-shadow: 1px 2px 7px var(--color-shadow-light);
  &[mode='dark'] {
    box-shadow: 1px 2px 7px red !important;
    // background-color: rgba(0, 0, 0, 0.5);
    // backdrop-filter: blur(16px);
    // -webkit-backdrop-filter: blur(16px);
  }
  // border-radius: 0.7rem;
  // font-size: 0.9rem;
  h5 {
    // color: var(--color-text-button);
    font-weight: 500;
    font-size: 1rem;
  }
  header.profile {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;

    .profile-img {
      border-radius: 100%;
      max-height: 120px;
      max-width: 120px;
    }
    .profile-info {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-left: 0.6rem;
    }
    .profile-name {
      // color: var(--color-text-button);
      font-weight: 600;
      font-size: 1rem;
    }
    .profession {
      // color: var(--color-text-button);
      font-size: 0.9rem;
      font-weight: 600;
      margin: 0.4rem 0 0.2rem;
    }

    .stars {
      margin: 0.3rem 0;
      :not(:first-child) {
        margin-left: 0.3rem;
      }
    }
    .location {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      margin-top: 0.3rem;
      strong {
        margin-left: 0.3rem;
      }
    }
  }
  .description {
    text-align: left;
    padding: 0 1.5rem 1rem;
    p {
      margin: 1rem 0;
    }
  }

  footer.card-footer {
    color: var(--color-text-button);
    padding: 1rem 1.5rem 1.7rem;
    text-align: left;
    background-color: var(--color-primary-shape);
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    &[mode='dark'] {
      background-color: var(--color-bk-dark);
      color: var(--color-shape);
    }

    button {
      font-size: 1rem;
    }
    .review {
      margin: 1rem 0 1.5rem;
    }
    button.more-info {
      padding: 0.7rem;
      border: none;
      border-radius: 100%;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
      position: absolute;
      right: 1.2rem;
      top: 0;
      margin-top: -1.325rem; // 0.7 + 0.7

      &:hover {
        filter: drop-shadow(0 0 0.6rem var(--color-primary));
      }
    }
  }
}
