.swiper {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet {
  background-color: var(--color-primary);
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 5rem 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  right: 0px !important;
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

.swiper-button-prev {
  left: 0px !important;
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px;
  background-color: var(--color-primary-shape);
  box-shadow: 0px 0px 5px var(--color-primary-medium);
  /* padding: 10px; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

[mode='dark'] {
  .swiper-pagination-bullet {
    background-color: var(--color-primary-dark);
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    background-color: var(--color-paper-dark);
    box-shadow: 0px 0px 5px var(--color-primary-dark);
  }
}

//
