footer.footer {
  display: flex;
  margin-top: 2rem;

  // padding: 3rem;
  width: 100%;
  // background-color: var(--color-bk-dark);
  text-align: center;

  h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 2rem 3rem 1.5rem;

    span {
      color: var(--color-secondary);
    }
  }
  li:hover {
    color: var(--color-secondary);
  }
}

// li {
//   min-width: 500px;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   justify-content: center;
// }

// li:hover {
//   color: var(--color-secondary);
// }

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem;

  .social {
    display: flex;
    justify-content: space-between;

    li:hover {
      color: var(--color-secondary);
      filter: drop-shadow(0 0 0.1rem var(--color-secondary));
    }

    li + li {
      margin-left: 0.25rem;
    }
  }

  // p {
  //   font-size: 0.8rem;
  // }
}
